/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

.centralized {
  @apply flex items-center justify-center flex-col;
}

.test {
  @apply border-2 border-black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
