td {
    border: 1px solid #dddddd;
    text-align: left;
    /* padding: 8px; */
    @apply px-5 py-3;
  }
  
  
  th {
    border: 1px solid #dddddd;
    text-align: center;
    /* padding: 8px; */
    @apply px-5 py-3;
  }
  
  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */
  