<body class="my-20 w-full">
  <div class="flex items-center gap-6 w-full">
    <h1>Task</h1>
    <input
      [(ngModel)]="searchInput"
      class="py-2 px-5 border border-gray300 rounded-md w-full"
      type="text"
    />
  </div>
  <div class="flex my-8 text-white justify-center gap-10">
    <button (click)="filterSearch()" class="bg-blue-600 rounded-md py-2 w-1/4">
      Search
    </button>
    <button (click)="openModal()" class="bg-blue-600 rounded-md py-2 w-1/4">
      Create
    </button>
    <button
      (click)="sortTimesheetByDateAsc()"
      class="bg-blue-600 rounded-md py-2 w-1/4"
    >
      Sort by DateFrom Ascending
    </button>
    <button
      (click)="sortTimesheetByDateDesc()"
      class="bg-blue-600 rounded-md py-2 w-1/4"
    >
      Sort by DateFrom Descending
    </button>
  </div>
  <table>
    <tr>
      <th>Project</th>
      <th>Task</th>
      <th>Assigned To</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let item of timesheets">
      <td>{{ item.project }}</td>
      <td>{{ item.task }}</td>
      <td>{{ item.user.name }}</td>
      <td>{{ item.dateFrom }}</td>
      <td>{{ item.dateTo }}</td>
      <td class="flex justify-between items-center gap-8">
        <div>{{ item.status.status }}</div>
        <div class="flex gap-4">
          <button (click)="editTimesheet(item)">
            <img width="20" src="assets/edit.svg" alt="" />
          </button>
          <button (click)="deleteTimesheet(item.id)">
            <img width="20" src="assets/delete.svg" alt="" />
          </button>
        </div>
      </td>
    </tr>
  </table>
</body>

<!-- modal -->

<div
  *ngIf="showModal"
  class="fixed centralized inset-0 bg-gray-500 bg-opacity-50 overflow-y-auto justify-center items-center h-screen w-screen px-4"
>
  <div class="bg-white centralized rounded-lg shadow-lg p-6">
    <h4 class="text-xl font-medium mb-8">Timesheet Entry</h4>
    <form
      [formGroup]="form"
      (ngSubmit)="submitForm()"
      action="submit"
      class="text-gray-700 mb-6 grid grid-cols-2 gap-x-4 gap-y-8"
    >
      <div
        *ngFor="let field of fields"
        class="flex justify-between items-center gap-4"
      >
        <label for="{{ field.name }}"> {{ field.name }} </label>
        <input
          *ngIf="!field.status && !field.user"
          (keyup)="debug()"
          formControlName="{{ field.name }}"
          type="{{ field.input }}"
          placeholder="input {{ field.name }} here..."
          class="py-2 px-3 border border-gray-500 rounded-md"
        />

        <select
          (keyup)="debug()"
          *ngIf="field.status"
          formControlName="{{ field.name }}"
          class="border border-gray-500 w-auto px-3 py-2 rounded-md"
        >
          <option value="">select status...</option>
          <option *ngFor="let list of field.status" value="{{ list.id }}">
            {{ list.status }}
          </option>
        </select>

        <select
          (keyup)="debug()"
          *ngIf="field.user"
          formControlName="{{ field.name }}"
          class="border border-gray-500 w-auto px-3 py-2 rounded-md"
        >
          <option value="">select user...</option>
          <option *ngFor="let list of field.user" value="{{ list.id }}">
            {{ list.name }}
          </option>
        </select>
      </div>

      <button class="bg-blue-600 px-3 py-2 rounded-md text-white" type="submit">
        Save
      </button>
      <button
        (click)="closeModal()"
        class="bg-blue-600 px-3 py-2 rounded-md text-white"
      >
        Close
      </button>
    </form>
  </div>
</div>
